* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

body {

    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

h1 {
    font-family: 'Overpass', sans-serif;
}
.slika {
    display:inline-block;
    margin-top:35px;
}
.slika img {
    width: 428px;
    height: 508px;
    margin-left:25%;
}

.text {
    float:left;
    display:inline-block;
    width:30%;
    margin-top: 17%;
    margin-left: 20%;

}
.text h4 {
    color: rgba(225, 225, 225, 0.84);
    font-size:1.2em;
    padding-left:125px;

}
.text h1 {

    color:white;
    font-size:5.2em;
}

.container {
    background:linear-gradient(to right, rgba(84, 49, 0, 0.87), rgba(243, 131, 2, 0.74));
    width:95%;
    /*box-shadow:30px 20px rgb(7, 49, 66);*/
    margin:0 auto;
    margin-top:2.3%;
    height: 650px;



}
.menu ul li,.menu ul a{
    text-decoration:none;
    list-style: none;
    color: rgba(255, 255, 255, 0.81);
    flex:1;
}
.menu {
    width:37%;
    float:right;
    clear:both;
    margin-top:30px;
    margin-right:22px;
    margin-bottom:50px;
}
.menu ul {
    display:flex;
    justify-content:end;


}

.menu ul li {
    text-align: center;
    padding:3px 0;
    margin:0 55px;
    border-radius: 3px;
    font-size:16px;

}



.menu ul li a:hover{
    color: rgba(96, 45, 5, 0.55);
}

.kontejner2 {
    clear:both;
    margin-top:65px;
    height:650px;
    display:flex;

}

.crno {
    width:30%;
    background: gray;
    box-shadow: rgba(50, 50, 93, 0.25) 0 8px 60px 42px inset, rgba(0, 0, 0, 0.3) 0 18px 36px 10px inset;

    z-index: 3;
}
.crno img {
    margin-top:165px;
    width:100%;
    filter: grayscale(70%);
}
.portokalievo {
    width: 70%;
    background: rgba(0, 0, 0, 0.84);
    padding:0 13%;
    text-align: justify;
}

.portokalievo h1 {
    font-size: 4em;
    padding-top:20%;
    padding-bottom:3%;
    color:orange;
    margin-bottom:20px;
}
.portokalievo h4 {
    color: rgba(180, 180, 180, 0.75);
}
.roze {
    margin:0 auto;
    width:80%;
    margin-top:65px;
    height:1035px;
    background: #181818;
}
.levo {
    width:30%;
    margin-left:290px;
    display:inline-block;
    margin-top:100px;

}
.desno {
    margin-top:-868px;
    clear:both;
    float:right;
    margin-right:250px;

}
.desno img {
    width:350px;
    height:auto;
}
.roar {
    height:300px;
}

.levo img {
    width:200px;
    height:auto;

}
.fr {
    height:400px;
}

.fax {
    height:180px;
}

.roze div h3 {
    text-align: center;
    margin:4px 0;
    color:white;
    font-size: 16px;

}
.levo div {
    border:2px solid white;
    padding-top:10px;
    /*padding-bottom:15px;*/
    margin-bottom:40px;
    padding-right:9px;
    padding-left:9px;
    width:223px;
    background: radial-gradient(circle, rgba(167,167,167,1) 30%, rgb(37, 35, 35) 81%);

}
.desno div {
    border:2px solid white;
    padding-top:10px;
    /*padding-bottom:15px;*/
    padding-right:9px;
    padding-left:9px;
    margin:10px 0;
    background: radial-gradient(circle, rgba(167,167,167,1) 30%, rgb(37, 35, 35) 81%);

}
.roze h1 {
    padding-left:15%;
    width:450px;
    padding-top:50px;
    font-size: 2em;
    color:white;
    text-align:center;
}

.roze hr {
    border: 1px  solid yellow;
}

.orange {
    display:inline-block;
    float:right;
    clear:both;
    width:320px;
    height:320px;
    background:orange;
    margin-top:-1200px;
    margin-right:-190px;
    z-index: 999;
}

.darkorange {
    float:left;
    clear:both;
    height: 90px;
    width: 90px;
    background: rgba(255, 255, 0, 0.91);
    margin-left:-34px;
    margin-top:-840px;
    border-radius: 35%;
}

.about {
    width:50%;
    margin:0 auto;
    margin-top:70px;
    height:400px;
    /*background: rgba(26, 30, 30, 0.91);*/
}

.belo {
    width:100%;
    margin:0 auto;
    background: rgba(77, 76, 76, 0.87);
    height:350px;
    border-radius: 1px;
}

input[type="text"]::placeholder,input[type="email"]::placeholder{
   font-weight: bold;
    color:black;
    font-size:1em;
}
textarea::placeholder {
    font-weight: bolder;
    color:black;
    font-size: 1.3em;
    padding-top:150px;
    padding-left:10px;
}
  input {
      height: 35px;
      width: 48%;
      font-weight: bold;
      /*font-size:1.3em;*/
      padding-left: 12px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 1px 2px 0px;
  }
.zaedno {
    padding-top:50px;
    width:87%;
    margin:0 auto;
}

input:nth-of-type(2) {
    margin-left:21px;
}

textarea{
    margin-top:20px;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.footer {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;

    clear:both;
    color:white;
    text-align:center;
    padding-top:22px;
    height:60px;
    font-weight: lighter;
    font-size: 0.9em;
    background: rgba(255, 135, 0, 0.9);
    overflow-x: hidden;
    overflow-y:hidden;
    margin-top:50px;
}